:root {
    --primary-color: #1f7434;
    --secondary-color: white;
    --third-color: #ACAB9E;
    --fourth-color: #315e26;
    --fore-bg: #D9D9D9;
    --positive: #007bff;
    --negative: #dc3545;
    --card: #567257;
}

h4 {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.95rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

table th,
table td {
    padding: 0.75rem 1rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

tbody tr:hover {
    background-color: var(--fore-bg);
    transition: background-color 0.2s ease-in-out;
}

.colored-cell {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

table td {
    vertical-align: middle;
}


.submit {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}