:root {
    --primary-color: #1f7434;
    --secondary-color: white;
    --third-color: #ACAB9E;
    --fourth-color: #315e26;
    --fore-bg: #D9D9D9;
    --positive: #007bff;
    --negative: #dc3545;
}

.actBtn {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.edit {
    background-color: var(--primary-color);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.edit img {
    width: 20px;
}

.save {
    background-color: var(--primary-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.save img {
    width: 20px;
}

.save:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color)
}

.edit:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    font-family: sans-serif;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid var(--fourth-color)
}

.colored-cell {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.date-picker {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.second-main {
    background-color: var(--third-color);
}

.table-div {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

.content {

    max-height: 100%;
}

.add-popout {
    background-color: var(--secondary-color);
    position: absolute;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    left: 50%;
}

.add-popout button {
    background-color: var(--primary-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    color: var(--secondary-color);
    border: 15px;
    
}

.add-popout {
    display: none;
}

.chart {

}

.content {
    max-height: 100%;
    overflow-y: scroll;
}